.container {
    margin: 30px;
    padding: 10px;
}

.nav-link, 
.navbar-text, 
h1,
h5,
.form-group {
    font-family: 'Sorts Mill Goudy', serif;
}

p,
ul,
.card-text
 {
    font-family: 'Quicksand', sans-serif;
}



  



