.container {
    margin: 30px;
    padding: 10px;
}

.nav-link, 
.navbar-text, 
h1,
h5 {
    font-family: 'Sorts Mill Goudy', serif;
}

p,
ul,
#exampleFormControlInput1 {
    font-family: 'Quicksand', sans-serif;
}


  



