.container {
    margin: 30px;
    padding: 10px;
}

.nav-link, 
.navbar-text, 
h1 {
    font-family: 'Chonburi', cursive;
    font-size: 150;
}

#gasmask {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  



