/*navbar styling*/
.navbar-brand {
    font-size: 25px;
}

body {
    background-color: #b2bec3;
}
/*container styling*/
.container {
    margin: 50px;
    padding: 10px;
}

.bg-custom {
    background-color: #84DECB;
}

/* font styles for all pages*/
.nav-link, 
.navbar-text,
h1,
h5,
.form-group {
    font-family: 'Sorts Mill Goudy', serif;
}

p,
ul,
.card-text {
    font-family: 'Quicksand', sans-serif;
}

.card-body {
    border-radius: 3px;
}

/*h1 on portfolio page*/
.center {
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #808e9b;
    border-radius: 3px;
    margin: 10px;
}

/* footer styling */
footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border: 10px;
    background-color: #808e9b;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  



