/*navbar styling*/
nav {
    background-color: #f1a94e;
    color: #FCFAFA;
}

body {
    background-color: #f2edd8;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/*container styling*/

main {
    flex: 1 0 auto;
  }

/* font styles for all pages*/

.navbar-link {
    font-size: 18px;
    color: #fcfafa;
    margin: 10px 10px;
}
.collapsible {
    box-shadow: none!important; 
    border: 0!important;
    margin-top: 80px;
}

.brand-logo {
    border: 6px solid #6a7988;
    border-radius: 6px;
    letter-spacing: 3.5px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#dark-dayhoff {
    color: #6a7988
}

.collapsible-header {
    background-color:#44b3c2;
    color: #FCFAFA;
    font-size: 22px;
    border: 4px solid #6a7988;
    border-radius: 6px;
    margin-top: 20px;
    
}

.collapsible-body {
    background-color: #7b8d8e;
    color: #FCFAFA;
    border-radius: 4px;
}

#photo-textwrap {
    float: left;
    margin: 10px;
    object-fit: cover;

}

 #what {
     background-color: #E45641;
 }
 


#page-footer {
    background-color: #f1a942;
    text-align: center;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }



  



