body {
    background-color :#808e9b;
}

#collapse {
    margin: 50px;   
}

.collapsible-header {
    background-color: #16bda9;
    color: beige;
    border: 4px solid black;
    border-radius: 3px;
}


.collapsible-body {
    background-color: #b2bec3;
   
}