.container {
    margin: 30px;
    padding: 10px;
}

.bg-dark {
    background-color:#808e9b;

}

.nav-link, 
.navbar-text, 
h1,
h5,
.form-group {
    font-family: 'Sorts Mill Goudy', serif;
}

p,
ul,
.card-text
 {
    font-family: 'Quicksand', sans-serif;
}

footer {
    position: fixed;
    text-align: center;
    height: 60px;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #808e9b;
}

  



